In [1]:
# !rm -r labor-market-analysis
# !git clone https://github.com/mia-uc/labor-market-analysis.git
# %cd labor-market-analysis

# # !pip install -r requirements.txt
# !pip install openai pandas

In [2]:
import pandas as pd
import numpy as  np

In [3]:
df = pd.read_excel('../asserts/archive_2/Technology Skills.xlsx')

In [4]:
df.columns

Index(['O*NET-SOC Code', 'Title', 'Example', 'Commodity Code',
       'Commodity Title', 'Hot Technology'],
      dtype='object')

In [5]:
df.head()

,O*NET-SOC Code,Title,Example,Commodity Code,Commodity Title,Hot Technology
0,11-1011.00,Chief Executives,Adobe Systems Adobe Acrobat,43232202,Document management software,Y
1,11-1011.00,Chief Executives,AdSense Tracker,43232306,Data base user interface and query software,N
2,11-1011.00,Chief Executives,Atlassian JIRA,43232201,Content workflow software,Y
3,11-1011.00,Chief Executives,Blackbaud The Raiser's Edge,43232303,Customer relationship management CRM software,Y
4,11-1011.00,Chief Executives,ComputerEase Construction Accounting,43231601,Accounting software,N

In [6]:
s1 = df['Example'].unique()
s1.sort()
s1

array(['!Trak-it Solutions !Trak-it HR', '100 Plus Hatch Pattern Library',
       '1003 Uniform Residential Loan Application', ..., 'yieldWerx',
       'z-Tree', 'zkipster'], dtype=object)

In [7]:
df = pd.read_csv('../asserts/archive_2/skills.csv')
df.head()

                        Skill
0  supply chain engineering\n
1                    bullet\n
2              commutations\n
3                pay equity\n
4         student retention\n

In [8]:
s2 = df['Skill'].str.strip().unique()
s2.sort()
s2

array(["'05", "'06", "'08", ..., '３dテクスチャ', '３dモデリング', '３dライティング'],
      dtype=object)

In [9]:
df = pd.read_csv('../asserts/archive_2/all_data_skill_and_nonskills/all_data_skill_and_nonskills.csv')
df.head()

            Text  Label
0  thompson drop      1
1    description      0
2  hiring - bulk      1
3           send      0
4          epi 6      1

In [10]:
s3 = df[df['Label'] == 1]['Text'].dropna().unique()
s3.sort()
s3

array([' clinical data analyst', '#expertise of multi plant handling#',
       '&amp;', ..., 'zyxel', '\x8dóù\x8cô \x8cô¬¾ïù', '¾ñ´¾ïâ\x8f» '],
      dtype=object)

In [11]:
import re
final = np.concatenate([s1, s2])
final = [x for x in final if not re.fullmatch(r'[\d\.\+\'\-xad]*', x)]
final = [x for x in final if re.search(r'[a-zA-Z]+', x)]

for i, skill in enumerate(final):
    tskill = skill[0]
    for j in range(1, len(skill)-1):
        if (
            re.fullmatch(r'[a-zA-Z]+', skill[j-1: j+1]) 
            and skill[j-1] == skill[j-1].lower()
            and skill[j] == skill[j].upper()
        ):
            tskill += ' '
        
        tskill += skill[j]
    
    final[i] = tskill + skill[-1]

In [12]:
df = pd.DataFrame({'skills': [x.lower() for x in final]})
df.set_index('skills')
df = df.drop_duplicates()
df = df.dropna()
# df = df.set_index('skills')
df = df.sort_values(by='skills')  
df

                               skills
0      !trak-it solutions !trak-it hr
8824                           (isc)2
8825                             .com
8826                        .htaccess
8827                             .net
...                               ...
46544                équipement photo
46545                équipement vidéo
46546                         ３dテクスチャ
46547                         ３dモデリング
46548                        ３dライティング

[46161 rows x 1 columns]

In [13]:

df.to_csv('../asserts/skills.csv', index=False)

In [14]:
from collections import Counter

companies = map(lambda x: x[0], filter(lambda x: len(x) > 2, map(lambda x: x.split(' '), df['skills'])))
companies = Counter(companies)
companies = [name for name, x in companies.items() if x > 20]

df = pd.DataFrame({'name': companies})
df.to_csv('../asserts/companies.csv', index=False)

In [15]:
re.search(r'[a-zA-Z]', "computerease construction accounting")